@charset "UTF-8";
* {
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  color: #212121;
  box-sizing: border-box;
}

.nav-logo {
  padding-left: 10px;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.nav-logo-web,
.nav-logo-web-decoration {
  color: #2196F3;
}

.nav-logo-web-decoration {
  text-shadow: -8px 0px 0px #2196F3;
  text-shadow: -8px 0px 0px #2196F3;
  text-shadow: -8px 0px 0px #2196F3;
}

.nav-logo-web .nav-logo-web-decoration-studio {
  color: #212121;
}

/* Оформление шапки */
.header-container {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .header-container {
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    max-width: 1200px;
  }
}

.header-container .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 0 20px;
  }
}

.header-btn {
  margin: 0;
  padding: 0;
  border: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn:hover, .header-btn:focus {
  fill: #2196F3;
}

.header-btn:active {
  border: none;
}

header {
  position: relative;
}

header::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #ECECEC;
}

.nav {
  position: absolute;
  top: 54px;
  right: 0;
  width: 100%;
  background: #fff;
  z-index: 2;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav .nav-list {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .nav {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-btn {
    display: none;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-list-contact a {
    padding: 0;
  }
}

.nav-list-link li {
  position: relative;
  text-align: center;
}

.nav-list-link li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -2px;
  left: 0;
  border-radius: 2px;
  overflow: hidden;
  color: black;
  background-color: #2196F3;
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link li:hover::before {
  opacity: 0.5;
}

.nav-list-link .active-link {
  position: relative;
}

.nav-list-link .active-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -2px;
  left: 0;
  border-radius: 2px;
  overflow: hidden;
  opacity: 1;
  color: black;
  background-color: #2196F3;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .nav .nav-list li {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .logo-container .nav-logo {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .nav-list-link {
    margin-bottom: 60px;
  }
  .nav-list-link li:not(:last-child) {
    margin-bottom: 40px;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-list-contant {
    padding-bottom: 60px;
  }
  .header-container .nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-list-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 90px;
  }
  .nav-list-link li {
    margin-right: 50px;
  }
  .nav-list.nav-list-link li {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.nav-list li {
  padding: 10px 0;
}

.nav-list li:hover a,
.nav-list li:hover svg {
  color: #2196F3;
  fill: #2196F3;
}

.nav-list-contact a {
  color: #757575;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list a {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .nav-list-contact {
    display: flex;
    justify-content: space-between;
  }
  .nav-list-contact li {
    margin-left: 30px;
  }
}

.nav-list-contact li {
  display: flex;
  align-items: center;
}

.nav-list-icon {
  width: 10px;
  height: 16px;
  display: block;
  margin-right: 10px;
  fill: #757575;
}

.icon-email {
  width: 18px;
  height: 12px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.team {
  background-color: #F5F4FA;
}

.team-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .team-container {
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .team-container {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .team-container {
    max-width: 1200px;
  }
}

.team h2,
.partners-header {
  padding-top: 60px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team h2,
  .partners-header {
    padding-top: 95px;
    font-size: 36px;
  }
}

.team-employer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 95px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .team-employer .team-employer-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-employer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-left: -15px;
    margin-right: -15px;
  }
  .team-employer .team-employer-item {
    flex-basis: calc((100% - 60px)/2);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-employer .team-employer-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team-employer > li {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team-employer h3 {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.team-employer p {
  margin-top: 10px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.team-socials {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.team-socials li {
  border-radius: 50%;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials li:hover,
.team-socials li .team-socials-icon:hover {
  background-color: #2196F3;
  fill: #fff;
}

.team-socials li:not(:last-child) {
  margin-right: 10px;
}

.team-socials-icon {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2F303A;
  font-family: 'Roboto', sans-serif;
}

.footer-container {
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .footer-container {
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    padding: 60px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.footer-container-main,
.email-send {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-container-main,
  .email-send {
    text-align: left;
  }
}

.social-network,
.email-send {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .social-network,
  .email-send {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container-main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .social-network {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container-main {
    align-items: baseline;
  }
}

.nav-logo-web .nav-logo-studio {
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .nav-logo {
    font-size: 26px;
  }
}

.footer-address-list {
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-address-list {
    margin-right: 70px;
    text-align: left;
  }
}

.footer-address-list li {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

.footer-address-list a {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.social-network > p,
.email-send p {
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1.17;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .social-network > p,
  .email-send p {
    text-align: left;
  }
}

.social-network .team-socials li {
  background-color: rgba(255, 255, 255, 0.1);
}

#email-send {
  width: 360px;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  line-height: 1.25;
  background: inherit;
}

@media screen and (min-width: 768px) {
  #email-send {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  #email-send {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .send-email-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .send-email-wrapper .btn-send {
    margin: 0 10px;
  }
}

.btn-send {
  display: block;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  overflow: hidden;
}

.btn-send span {
  margin-left: 10px;
}

.footer-send-icon {
  display: block;
  fill: #fff;
  width: 24px;
  height: 24px;
}

.partfolio-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 95px;
}

@media screen and (min-width: 480px) {
  .partfolio-container {
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .partfolio-container {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .partfolio-container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .partfolio-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .partfolio-container {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .partfolio-container {
    padding-bottom: 30px;
  }
}

.partfolio-nav-list {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}

@media screen and (max-width: 767px) {
  .partfolio-nav-list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1199px) {
  .partfolio-nav-list {
    margin-top: 60px;
    margin-bottom: 45px;
  }
}

.partfolio-nav-list li {
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #F5F4FA;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .partfolio-nav-list li {
    margin-bottom: 15px;
  }
}

.partfolio-nav-list .active {
  color: #fff;
  background-color: #2196F3;
}

.partfolio-nav-list li:not(:last-child) {
  margin-right: 10px;
}

.partfolio-nav-list a {
  color: inherit;
}

.partfolio-nav-list li:hover {
  color: #fff;
  background-color: rgba(33, 149, 243, 0.4);
}

.partfolio-examples {
  margin: 0 auto;
}

.partfolio-examples-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .partfolio-examples-list {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.partfolio-examples-list li {
  margin: 0 auto 30px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .partfolio-examples-list li {
    flex-basis: calc(100% - 30px);
  }
}

@media screen and (min-width: 768px) {
  .partfolio-examples-list li {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .partfolio-examples-list li {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.partfolio-examples-list li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.partfolio-box-wrapper h3 {
  margin: 20px 0 15px 25px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.partfolio-box-wrapper p {
  margin-left: 25px;
  margin-bottom: 20px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.img-box {
  position: relative;
  overflow: hidden;
}

.partfolio-examples-list li:hover .overlay {
  transform: translatey(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.8);
  /* opacity: 0.8; */
  color: #fff;
  padding: 60px 20px;
  transform: translatey(100%);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
  color: #fff;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 400;
}
/*# sourceMappingURL=portfolio.css.map */