@import '../utils/mixin';

.footer {
    background-color: #2F303A;
    font-family: 'Roboto',
        sans-serif;
}
.footer-container {
    padding: 60px 15px;
    @include container();
    @media screen and (min-width: 1200px) {
        padding: 60px 0;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;    

    }
}
.footer-container-main,
.email-send
{
    text-align: center;
    @media screen and (min-width: 1200px) {
        text-align: left
    }
}
.social-network,
.email-send {
    margin-top: 60px;
    @media screen and (min-width: 1200px){
        margin-top: 10px;
    }
}




@media screen and (min-width: 768px){
    .footer-container-main{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    & .social-network{
        margin: 0;
    }
}
@media screen and (min-width: 1200px){
    .footer-container-main {
        align-items: baseline;
    }
}

.nav-logo-web .nav-logo-studio {
    color: #FFFFFF;
    
}
@media screen and (min-width: 1200px) {
    .nav-logo{
        font-size: 26px;
    }
    
}

.footer-address-list {
    @media screen and (min-width: 1200px){
        margin-right: 70px;
        text-align: left;
    }
    margin-top: 20px;
    text-align: center;
    & li {
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        margin-bottom: 8px;
    }
   & a {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.6);
    }
}



.social-network>p,
.email-send p {
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 1.17;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
      @media screen and (min-width: 1200px) {
          text-align: left;
      }
    
}

.social-network .team-socials li {
    background-color: rgba(255, 255, 255, 0.1);
}

 
#email-send {
    width: 360px;
    @media screen and (min-width: 768px){
        width:450px;
    }
    @media screen and (min-width: 1200px) {
        width:360px;
    }
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    color: $gray;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    line-height: 1.25;
    background: inherit;
}
@media screen and (min-width: 1200px) {
    .send-email-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .btn-send{
            margin: 0 10px;
        }
    }
}
.btn-send {
   display: block;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    
    padding: 10px 30px;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: #fff;
    background-color: $blue;
    border: none;
    border-radius: 4px;
    overflow: hidden;
}

.btn-send span {
    margin-left: 10px;
}

.footer-send-icon {
    display: block;
    fill: #fff;
    width: 24px;
    height: 24px;
    

}
