
@import '../utils/mixin';
.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 120px;
}
.hero h1 {
    padding: 120px 0 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-align: center;
}

.modal-open {
    display: inline-block;
    background-color: $blue;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;

}

@media screen and (max-width: 480px){
    @include bgImage("../image/hero/Header-480.jpg", "../image/hero/Header@2x-480.jpg");
}
@media screen and (min-width: 481px){
    @include bgImage("../image/hero/Header-768.jpg", "../image/hero/Header@2x-768.jpg");
}
@media screen and (min-width: 1200px){
    @include bgImage("../image/hero/Header-1200.jpg", "../image/hero/Header-@2x-1200.jpg");
    
    .hero{
        padding:200px 0;
        & h1 {
            padding:0;
            font-size: 44px;
        }
        & .modal-open{
            margin-top: 30px;
        }
    }
}
