.nav-logo {
    padding-left: 10px;
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.nav-logo-web,
.nav-logo-web-decoration {
    color: $blue;
}

.nav-logo-web-decoration {
    text-shadow: -8px 0px 0px $blue;
    text-shadow: -8px 0px 0px $blue;
    text-shadow: -8px 0px 0px $blue;
}

.nav-logo-web .nav-logo-web-decoration-studio {
    color: #212121;
}