.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.250s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: all 0.250s cubic-bezier(0.4, 0, 0.2, 1);

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 580px;
    width: 530px;
    background-color: #fff;
    padding: 10px 10px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;

}

.modal-wrapper {
    position: relative;
    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        font-weight: 900;
        margin-left: auto;
        color: #000;
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background: #fff;
        transition: all 0.250s cubic-bezier(0.4, 0, 0.2, 1);
    }
}




.backdrop button:hover {
    color: $blue;
    border-color: $blue;
}

#modal {
    padding: 40px 40px;
    & .group {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
    }
}

.modal-header {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.03em;
}



.group label {
    color: $gray;
    font-size: 12px;
    line-height: 1.16;
    font-weight: 400;
}

.group input {
    height: 40px;
    padding-left: 40px;
    margin-top: 5px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.group textarea {
    height: 120px;
    resize: none;
    margin-top: 5px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

}

#modal .check {
    margin-top: 20px;
}

#licensed {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.check-label {
    display: flex;
    align-items: center;
    color: $gray;
    font-size: 16px;
    line-height: 1.714;
    font-weight: 400;
}

.check-label span a {
    color: $blue;
    text-decoration: underline;
}

.check-icon {
    display: block;
    margin-right: 10px;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;

}

#licensed:checked+.check-icon {
    border-color: transparent;
    background-color: $blue;
    background-image: url('../image/icon/check.svg');
    background-size: contain;
    background-origin: border-box;
}

#licensed {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.form-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 55px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    background-color: $blue;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

#modal .group {
    position: relative;

}

.modal-icon {

    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 20px;
    height: 20px;
    z-index: 2;
}

.modal-icon-mail {
    width: 16px;
    height: 12px;
    bottom: 15px;
}

.form-input:focus,
.form-input:focus+span>.modal-icon {
    outline: $blue;
    border-color: $blue;
    fill: $blue;
    transition: all 0.250s cubic-bezier(0.4, 0, 0.2, 1);
}

#modal .form-btn:hover {
    color: #fff;
    cursor: pointer;
}