.partners {

    .partners-container {
        
        // width: 1200px;
        margin: 0 auto;
        display: flex;
       
        // align-items: center;
        flex-direction: column;
         
    } 
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
}



.partners-list li {
    margin: 0 auto;
    // width: 170px;
   
    flex-basis: calc(100%/2 - 30px);
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-bottom: 30px;
    &
    // &:not(:last-child) {
    //     margin-right: 10px;
    // }
    &:hover .partners-link svg,
    &:hover {
    border-color: $blue;
    fill: $blue;
    
    }

}

.partners-icon {
    display: block;
    width: 45px;
    height: 50px;
    fill: #AFB1B8;
    margin: 20px auto;
    transition: all 0.250s cubic-bezier(0.4, 0, 0.2, 1);
}

.foster_pepers .partners-icon {
    width: 80px;
    height: 43px;
}

.brand .partners-icon {
    width: 59px;
    height: 47px;
}

.tag .partners-icon {
    width: 89px;
    height: 46px;
}

.partners-list .partners-link {
    display: block;
}

