@import '../utils/mixin';
    .partners-container {
        
        padding-left: 15px;
        padding-right: 15px;
        @include container();
        // align-items: center;
        @media screen and (min-width: 1200px) {
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 95px;
        }


    }

.partners-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: space-between;
     @media screen and (min-width: 1200px){
          margin-left: 0px;
          margin-right: 0px;
          flex-wrap: nowrap;
     }

}



.partners-list li {
    margin: 0 auto;
    flex-basis: calc((100% - 2 * 30px) / 2);
    @media screen and (min-width: 768px){
        flex-basis: calc((100% - 3 * 30px) / 3);
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 5 * 30px) / 6);
    }
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-bottom: 30px;
    &:hover .partners-link svg,
    &:hover {
    border-color: $blue;
    fill: $blue;
    }
    @media screen and (min-width: 1200px){
        margin-bottom: 0;
    }
}


.partners-icon {
    display: block;
    width: 45px;
    height: 50px;
    fill: #AFB1B8;
    margin: 20px auto;
    transition: all 0.250s cubic-bezier(0.4, 0, 0.2, 1);
}

.foster_pepers .partners-icon {
    width: 80px;
    height: 43px;
}

.brand .partners-icon {
    width: 59px;
    height: 47px;
}

.tag .partners-icon {
    width: 89px;
    height: 46px;
}

.partners-list .partners-link {
    display: block;
}

